.background {
    background-color: rgba(160, 95, 5, 0.374);
}

ul {
    Font-size: 25px ;
}

h1 {
    font-size: 40px;
}

#white{
    color:white;
}

button{
   width:100px;
   height:auto; 
   background-color:black;
   Color:rgba(197, 16, 210, 0.604);
}

.highlight{
    color:blue;
}

div { 
    padding: 30px;
    text-align: center; 
    margin-bottom: 15px;
    color: #548CA8;
    outline: black;
}